body {
    color: white;
    background-color: #92d1b4;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
    gap: 100px;
}
  
.hnw, .pic, .data {
    flex: 33.33%;
}

.middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.type {
    width: 60px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-left: #b8e1ce 5px solid;
    border-radius: 5px;
}

.stat_element{
    color: black;
    background-color: #fcfcfc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
