body {
    color: white;
    background-color: #92d1b4;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
}
  
.title, .pic, .region {
    flex: 33.33%;
}

.title {
    background-color: red;
}

.pic {
    background-color: blue;
}

.region{
    background-color: palevioletred;
}
.type {
    width: 100px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.stat_element{
    color: black;
    background-color: #fcfcfc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}